---
import Sparkles from "@tabler/icons/outline/sparkles.svg";
---

<div
  id="announcement-banner"
  class="from-primary/10 via-primary/5 z-0 flex items-center justify-center gap-x-6 overflow-hidden bg-gradient-to-r to-transparent px-6 py-2.5"
>
  <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
    <Sparkles class="text-primary hidden size-5 md:inline-block" aria-hidden="true" />
    <p class="text-center text-xs leading-6 lg:text-sm">
      This website is under development. Thanks for your patience!
    </p>
  </div>
</div>
