---
import CtaGlow from "@/docs/components/cta/CtaGlow.astro";
import Hero from "@/docs/components/hero/Hero.astro";
import { docsRoute } from "@/docs/js/docsUtils";
import { getLocaleFromUrl } from "@/docs/js/localeUtils";
import { getLocalizedRoute, getTranslatedData } from "@/docs/js/translationUtils";
import BaseLayoutDocs from "@/docs/layouts/BaseLayoutDocs.astro";

const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);
---

<BaseLayoutDocs title={siteData.title} description={siteData.description}>
  <main class="overflow-hidden">
    <Hero />
    <CtaGlow
      title="Explore the courses"
      description="Browse through the various short courses, workshops, and miscellaneous teaching offerings."
      primaryLink={getLocalizedRoute(currLocale, `/${docsRoute}/about`)}
      githubLink="https://github.com/neeldhara"
    />
  </main>
</BaseLayoutDocs>
